<ion-content>
  <ion-header style="background-color: #927f5d;">
    <img style=" margin-top: 10px; margin-bottom: 10px;text-align: center;margin-left: 35%;width: 95px;" class="img" src="../../assets/logo.png" alt="logo Muda Meu Mundo">
  </ion-header>

  <div style=" height: 25px;background-color: rgb(50, 102, 50)">
  <ion-subtitle style="font-family: 'Times New Roman', Times, serif;margin-left:10px; font-size: 10px; text-align:center; color: rgb(207, 250, 206); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
    A plataforma que ajuda o produtor a se conectar com o varejo.
  </ion-subtitle>
  </div>
 
       <ion-card >
         <ion-card-header>
           <ion-card-title style="color:rgb(18, 102, 18);font-size: 25px">
            Registro de produtos
           </ion-card-title>
           <ion-subtitle style="margin-top: 25px; font-size:13px ">
            Registre aqui caso você tenha algum produto disponível e nós serviremos como uma ponte, levando sua mensagem para o agrônomo ;)
           </ion-subtitle>
         </ion-card-header>
         
         <ion-card-content>
          <p style="margin-top: -19px; color: green;">Selecione abaixo o produto disponível</p>
          <ion-item class="lista" style="color: black">
            <ion-label>Tipo</ion-label>
            <ion-select [(ngModel)]="pname" placeholder="selecione">
              <ion-select-option value="abobrinha">Abobrinha</ion-select-option>
              <ion-select-option value="alface">Alface</ion-select-option>
              <ion-select-option value="banana prata">Banana prata</ion-select-option>
              <ion-select-option value="batata doce">Batata doce</ion-select-option>
              <ion-select-option value="batata inglesa">Batata inglesa</ion-select-option>
              <ion-select-option value="cebola">Cebola</ion-select-option>
              <ion-select-option value="cenoura">Cenoura</ion-select-option>
              <ion-select-option value="couve">Couve</ion-select-option>
              <ion-select-option value="limão">Limão</ion-select-option>
              <ion-select-option value="maçã">Maçã</ion-select-option>
              <ion-select-option value="tomate">Tomate</ion-select-option>
            </ion-select>
          </ion-item>   
            <p style="margin-top: 10px; color: green;">Insira abaixo a quantidade disponível com a <br> unidade de medida</p>
            <ion-item>
              <ion-input [(ngModel)]="pqty" placeholder="Ex: 30 kilogramas" type="text"></ion-input>
            </ion-item>
            <p style="margin-top: 10px; color: green;">Insira abaixo a possível data de <br> entrega do produto</p>
            <ion-item>
              <ion-input [(ngModel)]="data" placeholder="dd/mm/aaaa" type="text"></ion-input>
            </ion-item>
            <div class="bottom-section">
              <ion-button (click)="create()">Enviar</ion-button>
            </div>
         </ion-card-content>
       </ion-card>   

       <ion-card (click)="navigateToHomePage()" style="height: 50px; width:250px; border-radius:20px; margin-left: 18%; background-color: #678a409a; margin-top: -1px; margin-left: 25px;">
         <img style="width: 33px; margin-top: 10px; margin-left: -170px;"  src="../../../assets/icon-3.png" alt="">
         <h3 style="color: #fff; font-size: 13px; margin-left: 30px; margin-top:-26px ">Voltar para a página inicial</h3>
       </ion-card>

       <ion-card (click)="navigateToUserPage()" style="height: 50px; width:250px; border-radius:20px; margin-left: 18%; background-color: #678a409a; margin-top: -8px; margin-left: 25px;">
        <img style="width: 33px; margin-top: 10px; margin-left: -210px;"  src="../../../assets/icon-5.png" alt="">
        <h3 style="color: #fff; font-size: 13px; margin-left: 30px; margin-top:-26px ">Voltar para a página de requisições</h3>
      </ion-card>
       }
       


</ion-content>